name: build
on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3
      uses: actions/setup-java@v3
    - name: Set up JDK 25
      with:
        java-version: '25'
        distribution: 'temurin'
        cache: maven
    - name: Output build configuration
      run: |-
        java --version
        mvn --version
      shell: bash
    - name: Build with Maven
      run: mvn -B clean install -Dgpg.skip=true
