name: release
on:
  workflow_dispatch:
    inputs:
      release_version:
        description: 'version number'
        required: true
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3
        with:
          ref: main
          fetch-depth: 0
        uses: actions/setup-java@v2
      - name: Set up JDK 25
        with:
          java-version: '25'
          distribution: 'temurin'
          server-id: ossrh
          server-username: OSSRH_USERNAME
          server-password: OSSRH_TOKEN
          gpg-private-key: ${{ secrets.GPG_SECRET_KEY }}
          gpg-passphrase: GPG_PASSPHRASE
          overwrite-settings: false
      - name: Output build configuration
        run: |-
          java --version
          mvn --version
        shell: bash
      - name: Set Maven version
        run: |
          mvn versions:set -DnewVersion=${{ github.event.inputs.release_version }}
          mvn versions:commit
      - name: Run tests and build
        run: mvn -B clean install -Dgpg.skip=true
      - name: Publish to OSSRH
        run: mvn -B clean deploy -DskipTests
        env:
          OSSRH_USERNAME: ${{ secrets.OSSRH_USERNAME }}
          OSSRH_TOKEN: ${{ secrets.OSSRH_TOKEN }}
          GPG_PASSPHRASE: ${{ secrets.GPG_PASSPHRASE }}
          # Workaround for https://issues.sonatype.org/browse/OSSRH-66257
          # as described in https://stackoverflow.com/a/70157413
          MAVEN_OPTS: --add-opens=java.base/java.util=ALL-UNNAMED --add-opens=java.base/java.lang.reflect=ALL-UNNAMED --add-opens=java.base/java.text=ALL-UNNAMED --add-opens=java.desktop/java.awt.font=ALL-UNNAMED
      - name: Create GitHub release
        uses: softprops/action-gh-release@v1
        id: syntax-annotation-release
        with:
          body: "syntax-annotation v${{ github.event.inputs.release_version }}"
          tag_name: v${{ github.event.inputs.release_version }}
          target_commitish: main
          draft: false
          prerelease: false
          files: |
            **/target/*-${{ github.event.inputs.release_version }}.jar
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
